<div class="card" style="width: 18rem;">
  <div class="card-body">
    <p class="card-text">{{content}}</p>
    <p class="card-text">{{user.name}}&emsp;&emsp;{{format_date date_created}}</p>
  </div>
</div>