<form class="update-post-form">
  <h1>Update Post</h1>
  <div class="mb-3">
    <label class="form-label">Title</label>
    <input type="text" class="form-control post-input-title" id="{{id}}" value="{{title}}">
  </div>
  <div class="mb-3">
    <label class="form-label">Text</label>
    <textarea input="text" class="form-control post-input-text" id="exampleFormControlTextarea1" rows="3">{{content}}</textarea>
  </div>
  <div class="mb-3">
    <button type="submit" class="btn btn-primary mb-3">Update!</button>
  </div>
</form>
<script src='/js/postUpdate.js'></script>